<%= image_tag("ideasheader.jpg", :alt => "header", :style => "width: 100%;") %>

<article id = "row">
	<h2>Ideas</h2>
	<p>Below is a list of project ideas that are up for grabs, graciously donated by our mentors. </p>
</article>

<article class = "ideas", id = "row">
	<div class = "idea">
		<h3>Shopping app/website</h3>
		<p>Develop an application where you can make a list of things you're planning to shop for and set up price alerts for those items. </p>
		<p>
			Important features:
			<ul>
				<li> Add webpage URLs to be parsed so that prices can be determined. </li>
				<li> Search products by UPC or keyword, aggregates hits on Amazon, Newegg, etc.
				</li>
				<li> Save searches and items on an easy-to-read interface, like a stock price app, to watch prices
				</li>
				<li>Set up price alerts when price drops past certain threshold. Maybe via email.</li>
				<li>Support searches on deal websites like slickdeals, edealinfo, etc</li>
				<li>Scrapes Craigslist data (might be against their TOS) </li>
			</ul>
			Not-so-important features:
			<ul>
				<li>Search forums and classifieds</li>
				<li> Chart or otherwise save historical prices since saving the search</li>
			</ul>
		</p>
	</div>
	
	<div class = "idea">
		<h3>Car Performance Data App (attached to Tom Zhang)</h3>
		<p>The Nissan GTR has a screen that plots lots of car data, like acceleration in every direction, speed, etc etc. I'd like to make an app that does the same thing, but for a smartphone or tablet. Additionally, it can have an "HUD mode" where it shows speed and heading and other stuff that BMW's HUD does. </p>
		<p>Important features:
			<ul>
				<li>Able to display current speed, heading, and acceleration</li>
				<li>Calibrate for different mounting orientations</li>
				<li>Tablet and phone versions</li>
				<li>Timer</li>
			</ul>
			Nice features:
			<ul>
				<li>Bluetooth integration to get OBD-II data with a thing like <a href="http://www.amazon.com/RioRand-Bluetooth-Diagnostic-Scanner-Android-compatible/dp/B004KL0I9I">this guy</a>.</li>
				<li>Chart various parameters over time</li>
				<li>GPS/mapping features (Map various parameters over location)</li>
				<li>GPS-integrated lap timer (Starts/stops when you pass a point)</li>
				<li>Basically any feature available on the <a href="http://www.autoblog.com/2013/06/06/bmw-readying-impressive-track-focused-m-power-app/">BMW M Power app</a></li>
			</ul>
			Hardware needed:
			<ul>
			<li>Android phone</li>
			<li>Android tablet (preferably 7")</li>
			<li>MAYBE iPhone/iPad mini; I'd like to focus on Android though.</li>
			<li>Some sort of non-derpy stable car phone mount</li>
			<li>Car (I can provide)</li>
			<li>OBD-II bluetooth adaptor (<a href="http://www.amazon.com/RioRand-Bluetooth-Diagnostic-Scanner-Android-compatible/dp/B004KL0I9I">like this one</a>) (Not necessarily that one though) (may need to homebrew one)</li>
			</ul>
		</p>
	</div>

	<div class = "idea">
		<h3>Car Dashcam app (attached to Tom Zhang)</h3>
		<p>Basically an app that turns your phone into a dashcam. A dash cam is a type of security camera that records video on an n-minute loop, and if an accident or other event occurs (maybe if accelerometer values go through the roof), you can save the most recently captured video permanently. Look up "Russian dashcam footage" for examples. This could be integrated with the second project. <br />
		Hardware needed: See above.</p>
	</div>

	<div class = "idea">
		<h3>Form App</h3>
		<p>Mobile app that allows you to update spreadsheets from multiple interfaces, i.e. your phone and through the browser. This could help keep track of expenses while you're on the go (filling up on gas, at the grocery store).</p>
	</div>

	<div class = "idea">
		<h3>Dropbox desktop client</h3>
		<p>Dropbox (or Box) desktop client that behaves like the phone app, ie, only downloads files when they're requested and caches them, so you don't have to sync a huge number of files from the server and use up all of your hard drive space. Bonus points: feature to select some files/folders to always save a local copy.</p>
	</div>

	<div class = "idea">
		<h3>Piazza Substitute</h3>
		<p>Anything about Piazza that you think should be improved? Implement it by creating your own substitute to Piazza.</p>
	</div>
	<div class = "idea">
		<h3>Latex Graph</h3>
		<p>Create a GUI that allows users to draw graphs (you know, the ones with nodes and edges), takes the graph, and generates LaTex code for it.</p>
	</div>
	<div class = "idea">
		<h3>Money Divider</h3>
		<p>Going out for a meal with friends can be really frustrating when it comes time to split the bill and the restaurant won't help you out. This app will take in  </p>
	</div>
	<div class = "idea">
		<h3>Community Outreach</h3>
		<p>Talk to local organizations or people around CMU and see if they have a project that they need someone to work on.</p>
	</div>
</article>