
<%= image_tag("header.png", :alt => "header", :style => "width: 100%") %>
<article id = "row" tag ="bounce">
<h2>What is Hack+?</h2>
<p>It's a hackathon. You provide the brains, we provide everything else. </p>

<p>Getting used to Carnegie Mellon life is a substantial endeavor - classes, homework, food, more homework, and then (maybe) a little sleep. Most underclassmen are interested in application development, but often do not have time or the resources to start. Hack+ is a unique hackathon presented by the Association of Computing Machinery (ACM) which will help underclassmen do just that. </p>
</article>

<article id = "row">
<h2>How long is Hack+?</h2>
<p>Hack+ is a semester long hackathon, </p>

</article>

<br />

<%= image_tag("slogan.png", :alt => "slogan", :style => "width: 100%;") %>

<div id = "attributes">
  Mentorship
  <span id = "middle-attribute">| Resources |</span>
  Prizes
</div>

<br />

<article id = "row">
<h2 id = "" >Mentorship</h2>

<p>ACM Hacks provides a unique semester-long mentoring program for underclassmen to receive upperclassmen and company sponsored guidance on areas they are interested in. </p>
</article>

<article id = "row">
<h2>Resources</h2>
<p>Need an Arudino? Leap Motion? Kinect? No problem. ACM is providing any hardware/software resources that teams want to develop with/for within reason. You tell us what you need, we'll provide it for you.</p>
</article>

<article id = "row">
<h2>Prizes</h2>
<p>A competition without prizes is like Pittsburgh without rain - you can't have one without the other. The prizes are to be announced, but we assure you of their awesomeness.</p>
</article>

<br />
