<h1>Pages#index</h1>
<h2>What is ACM Hacks?</h2>
<p>It is an opportunity for underclassmen to </p>

<br />

<h2>Mentorship</h2>

<p>ACM Hacks provides a unique mentoring program for underclassmen to receive upperclassmen and company sponsored guidance on areas they are interested in. </p>

<br />

<h2>Resources</h2>
<p>ACM is providing any hardware/software resources that teams want to develop with/for within reason. You tell us what you need, we'll provide it for you.</p>

<br />

<h2>Prizes</h2>
<p>A competition without prizes is like  - you can't have one without the other. Our prizes are currently being sorted out by logistics, but we assure the integrity and awesomeness of each and every prize.</p>

<br />
