<%= image_tag("mentorheader.png", :alt => "header", :style => "width: 100%;") %>
<article id="row">
<h2>Become a Mentor</h2>

<p>We are currently in the process of choosing mentors. If you have experience with application development, and would like to be a mentor, please fill out the mentor <%= link_to "form", "http://goo.gl/6C0RJo" %>. </p>
</article>
