<%= image_tag("sponsors.jpg", :alt => "header", :style => "width: 100%;") %>

<article id ="row" class = "logos">
	<h3>Special thanks</h3>
	<%= link_to(image_tag("sponsors/opencurriculum-color-m.png", :alt => "Open Curriculum"), "http://theopencurriculum.org", :target => "_blank") %>
</article>
