<%= image_tag("teamheader.png", :alt => "header", :style => "width: 100%;") %>

<article id = "row">
<h2>Team Formations</h2>

<p>We are currently in the process of choosing teams. If you would like to form a team, please fill out the team creation <%= link_to "form", "http://goo.gl/BA6hjE"%>.</p>
</article>
