<%= image_tag("teamheader.jpg", :alt => "header", :style => "width: 100%;") %>

<article id = "row">
<h2>Team Formations</h2>

<p>We are currently in the process of choosing teams. If you already have a team (and mentor, if desired) and haven't already registered your team, please fill out this <%= link_to "form", "http://goo.gl/RYMnaX"%>. If you are an individual without a team, please e-mail hackpluscmu@gmail.com.</p>
</article>
