$dark-grey: #3b3c3d;
$light-grey: #a0a0a1;
$lighter-grey: #dadadc;

$nav-link-color: $dark-grey;
$reg-link-color: $light-grey;
$hover-link-color: $lighter-grey;

html {
   font-family: "Georgia";
   min-width: 550px;
}

h1 {
  font-size: 30px;
}

h2 {
   font-size: 20px;
   padding-left: 10px;
}

#emphasis {
   font-size: 30px;
   font-style: italic;
   font-family: "impact";
}

#smalltext {
  font-size: 10px;
}

p {
  margin: auto auto;
  padding-left: 20px;
  padding-right: 10px;
  line-height: 150%;
  font-size: 15px;
  font-family: "Corbel";
}

a {
  text-decoration: none;
  color: $reg-link-color;
}

a:hover {
  position: relative;
  top: -5px;
  color: $hover-link-color;
}

a:active {
  color: $light-grey;
}

#nav {
  text-align: right;
  margin-top: -35px;

  a {
    color: $nav-link-color;
    padding: 20px;
  }
}

footer {
  background-color: $dark-grey;
  color: $light-grey;
  padding: 20px;
  text-align: right;
}