.ideas {
	font-family: "Corbel";
	font-size: 15px;
}

.idea {
	padding: 20px;
	text-align: justify;
	border: #CCCCCC 1px solid;
	margin-right: 5px;
	margin-bottom: 30px;
	box-shadow: 5px 5px 5px #CCCCCC;
}

.idea h3 {
	text-align: left;
}

.idea p {
	margin-top: 10px;
}