.ideas {
	margin-left: auto;
	margin-right: auto;
	font-family: "Corbel";
	font-size: 15px;
}

.idea {
	width:500px;
	padding: 20px;
	text-align: justify;
	border: #CCCCCC 1px solid;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 5px #CCCCCC;

}

.idea h3 {
	text-align: left;
}

.idea p {
	margin-top: 10px;
}